.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  color: white;

  .logo-container {
    display: flex;
    align-items: center;

    img {
      height: 50px;
    }
  }

  .spacer {
    flex: 1;
  }

  .desktop-menu {
    display: flex;
    gap: 15px;
  }

  .mobile-menu-btn {
    display: none;
  }
}

/* Botão de fechar no menu mobile */
.line-btn-close {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

/* Responsividade */
@media screen and (max-width: 768px) {
  .desktop-menu {
    display: none !important;
  }

  .mobile-menu-btn {
    display: block !important;
  }
}
