<div class="produtos-container">
  <div class="header">
    <h2>Lista de Produtos</h2>
    <hr class="divisor" />
  </div>

  <!-- Barra de Pesquisa -->
  <mat-form-field appearance="outline" class="search-bar">
    <mat-label>Buscar produtos...</mat-label>
    <input
      matInput
      [(ngModel)]="termoBusca"
      placeholder="Digite o nome do produto"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <!-- Grid de Produtos -->
  <div class="grid-produtos">
    <mat-card class="produto" *ngFor="let produto of getProdutosFiltrados()">
      <mat-card-header>
        <mat-card-title>{{ produto.nome }}</mat-card-title>
      </mat-card-header>

      <mat-tab-group>
        <mat-tab *ngFor="let imagem of produto.imagens">
          <ng-template mat-tab-label>
            <img [src]="imagem" class="thumbnail-img" />
          </ng-template>
          <img [src]="imagem" class="produto-img" />
        </mat-tab>
      </mat-tab-group>

      <mat-card-content>
        <p>
          <strong>R$ {{ produto.preco | number : "1.2-2" }}</strong>
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          class="btn-cta"
          (click)="adicionarAoCarrinho(produto)"
        >
          <mat-icon>shopping_cart</mat-icon> Adicionar ao Carrinho
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
