<div class="home-container">
  <!-- Seção Sobre a YoPro -->
  <section class="sobre-yopro">
    <div class="container">
      <h2>Sobre a YoPro</h2>
      <p>
        A YoPro é uma marca referência em <b>proteína de alta qualidade</b>,
        ideal para quem busca uma alimentação equilibrada e um estilo de vida
        saudável. Nossos produtos são <b>ricos em proteína</b>, sem adição de
        açúcar e com ingredientes de alta qualidade.
      </p>
      <div class="beneficios">
        <mat-card class="beneficio">
          <mat-card-content>
            <img
              src="./assets/img/proteina.svg"
              alt="Proteína"
              class="beneficio-icon"
            />
            <p>+25g de Proteína</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="beneficio">
          <mat-card-content>
            <img
              src="./assets/img/acucar.svg"
              alt="Sem açúcar"
              class="beneficio-icon"
            />
            <p>Sem Açúcar Adicionado</p>
          </mat-card-content>
        </mat-card>
        <mat-card class="beneficio">
          <mat-card-content>
            <img
              src="./assets/img/energia.svg"
              alt="Energia"
              class="beneficio-icon"
            />
            <p>Mais Energia no Dia a Dia</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </section>

  <mat-card class="carousel-container">
    <div class="carousel">
      <img
        [src]="slides[currentSlide].img"
        alt="Slide image"
        class="carousel-img"
      />
    </div>
    <!-- <mat-card-actions class="center-buttons">
      <button mat-icon-button (click)="prevSlide()">
        <mat-icon>chevron_left</mat-icon>
      </button>
      <button mat-icon-button (click)="nextSlide()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </mat-card-actions> -->
  </mat-card>

  <!-- Seção de Produtos -->
  <section class="nossos-produtos">
    <div class="container">
      <h2>Produtos favoritos</h2>
      <hr class="divisor" />

      <div class="grid-produtos">
        <mat-card class="produto" *ngFor="let produto of produtos">
          <mat-card-header>
            <mat-card-title>{{ produto.nome }}</mat-card-title>
          </mat-card-header>

          <mat-tab-group *ngIf="produto.imagens.length > 1">
            <mat-tab *ngFor="let imagem of produto.imagens">
              <ng-template mat-tab-label>
                <img [src]="imagem" class="thumbnail-img" />
              </ng-template>
              <img [src]="imagem" class="produto-img" />
            </mat-tab>
          </mat-tab-group>

          <!-- Caso tenha apenas uma imagem, exibe diretamente -->
          <img
            *ngIf="produto.imagens.length === 1"
            [src]="produto.imagens[0]"
            class="produto-img"
          />

          <mat-card-content>
            <p>
              <strong>R$ {{ produto.preco }}</strong>
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button
              mat-raised-button
              color="primary"
              class="btn-cta"
              (click)="adicionarAoCarrinho(produto)"
            >
              <mat-icon>shopping_cart</mat-icon> Adicionar ao Carrinho
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </section>
</div>
